@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./Components/About/About.css);
@import url(./Components/Contact/Contact.css);
@import url(./Components/Hero/Hero.css);
@import url(./Components/Navbar/Navbar.css);
@import url(./Components/Projects/Projects.css);
@import url(./Components//Services/Services.css);
@import url(./Components//Footer//Footer.css);
@import url(./Components/Card/Card.css);
@import url(./page.css);





* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  /* background-color: #e9eff3 ; */
}


body {
  background: #1E293B;
  color: #333;
  line-height: 1.6;
  
}




/* 
.home__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 80px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.home__image img {
  width: 400px;
  border-radius: 20px; 
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

.home__buttons .btn {
  padding: 12px 20px;
  background-color: #0077cc;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 12px;
  transition: background 0.3s ease;
}

.home__buttons .btn:hover {
  background-color: #005fa3;
}

.home__tech img {
  width: 40px;
  margin-right: 12px;
  margin-bottom: 15px;
}


.home__title,
.home__subtitle,
.home__paragraph {
  margin-bottom: 15px;
  color: #0077b6;
}


section {
  max-width: 800px;
  margin: 0 auto 40px;
  padding: 20px;

}

.section__home {
  background-image: url('../src//images/fondo-home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}








.cv-wrapper img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
} */